@media screen and (min-width: 768px) {
.container {
    flex-direction: row; /* horizontal containers for desktop */
    gap: 1rem;
  }
  .content {
    flex: 3; /* Take more space on desktop */
  }
  
}